version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: quarterly
    groups:
      ci-dependencies:
        dependency-type: production
    commit-message:
      prefix: deps
    cooldown:
      default-days: 10
      exclude:
        - agrc/*
